<!-- Add any <style> or <script> tags you need here -->
    <style>
        body section.page-content[class*="services"] {
    
            .resource-cards {
                margin-bottom: var(--margin-section-v);
            }
    
            @media (min-width: 576px) {
                .resource-cards {
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr;
    
                }
                .resource-card {
                    grid-template-columns: 1fr 3fr;
                    grid-template-rows: 1fr;
                }
                .resource-cards .resource-card img {
                    border-bottom-left-radius: var(--card-border-radius);
                    border-top-right-radius: 0;
                }
                .resource-info {
                    padding: 2rem;
    
                }
                .resource-info p {
                display: block;
                    -webkit-line-clamp: unset;
                    -webkit-box-orient: unset;
                    line-clamp: unset;
                }
            }
        }
        body section.page-content[class*="projects"] .resource-card img {
                                                        object-fit: contain;
                                                    }
        .partner-card .info {
                            text-align: justify;
                            }
    </style>
