<!-- Add any <style> or <script> tags you need here -->
<style>

    body section.page-content.projects .resource-card img {
        object-fit: contain;
        padding: 0 3rem;
    }

    body section.page-content.projects .resource-info {
        padding-top: .5rem;
    }

    body section.page-content.projects .resource-info p {
        line-clamp: unset;
        -webkit-line-clamp: unset;
    }

    body section.page-content.projects .resource-card a.button-primary {
        white-space: break-spaces;
    }

    p, 
    .partner-card .info {
        text-align: justify;
    }

    body #content #welcome h1 {
        font-size: 3rem; /* default is 4rem */
    }

    /* Make funder logos more readable */
    .main.footer .partners img {
        height: 3rem;
    }

    /* Put a light background on second logo */
    .main.footer .partners #partner-logo-1 img {
        background-color: var(--beige);
    }

</style>